.filters-area{
  flex-basis: 25rem;
  box-shadow: 0 1px 1px rgba(#000, .2);
  background: $white-color;
  height: 100%; 
  &__infos{
    background: #fafafa;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid rgba($lighter-grey-color, .3);
  }
  &__title{
    margin-bottom: 1.5rem;
  }
  &__filterselection{
    background: $white-color;
    padding: 1.5rem 2rem;
    ul{
      margin-bottom: 1.5rem;
    }
    li{
      cursor: pointer;
      background: #efefef;
      padding: .5rem 1rem;
      border-radius: 5px;
      transition: all .4s;
    }
    li:hover{
      background: $primary-color;
      color: $white-color;
    }
    li:not(:last-child){
      margin-bottom: .5rem;
    }
  } 
}