.profile__container{
  background: $white-color;
  padding: 3rem;
  &--credentials {
    margin-bottom: 3rem;
  }
  &--credentialsform,
  &--addressform{
    margin: 2rem 0;
    margin-bottom: 0;
    display: flex;
  }
  .form__leftside,
  .form__rightside {
    flex: 1;
  }

  .form__leftside {
    margin-right: 2rem;
  }
  label {
    color: $light-grey-color;
    display: block;
  }
  select{
    padding-left: 2rem !important;
    width: 100%;
    margin-top: 0;
    border: 1px solid $border-color;
    color: $black-color;
    font-family: 'Open Sans', sans-serif;
  }
  input{
    border: 1px solid $border-color;
    width: 100%;
    padding: 1rem 0;
    padding-left: 2rem;
    border-radius: 6px;
    color: $black-color;
    margin-bottom: 2rem;
    transition: border .4s;
  }
  input:focus{
    border-color: $primary-color;
  }
  input[type='submit']{
    background: $white-color;
    border: 2px solid;
    border-color: $primary-color;
    float: right;
    width: 50%;
    text-align: center;
    color: $primary-color;
    transition: all .4s;
  }
  .second{
    margin-top: 3rem;
  }
  input[type='submit']:hover{
    background-color: $primary-color;
    color: $white-color;
  }
  input::placeholder{
    color: $lighter-grey-color;
  }
}