// Typography colors (common document colors also)
$black-color: #2E2E2E;
$light-grey-color: #6c6c6c;
$lighter-grey-color: #b4b4b4;
$lightest-grey-color: #f7f7f7;
$white-color: #fff;
$border-color: #e1e1e1;
$lighter-border-color: #d8d8d8;

// Other document colors
$primary-color: #f62f5e;
$facebook-color: #0652DD;
$primary-payment-dim-color: #FFF2F5;
$lightest-grey-payment-color: #F9F9F9;
$blue-color: #6eb2fb;
$cyan-color: #00d3ca;
$yellow-color: #effc90;
$orange-color: #f1ad3d;
$star-color: #FFC94F;

$payment-section-white-bg: #EEEEEE;
$checkout-buttons-container-bg: #EFEFEF;
